@import 'style';

.container {
	@include UIElement();
	display: flex;
	left: 15px;
	top: 240px;
	flex-direction: column;
	background-color: #222;
	border: 3px solid black;
	color: white;
	font-family: monospace;
	width: 460px;
	height: 80px;

	h3.row {
		margin: 4px;
		font-size: 15px;

		span.red {
			color: red;
		}
	}

	.arrow-down {
		position: absolute;
		right: 10px;
		bottom: 5px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		
		border-top: 15px solid #f00;
		animation-timing-function: ease-in-out;
		animation-name: Hover;
		animation-duration: 0.4s;
		animation-iteration-count: infinite;
	}
}

@keyframes Hover {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(5px);
	}
	50%{
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(-1px);
	}
}